body
{
    background-color: red;
    background-image: url("./Images/BackgroundHTML.png");
    background-size: cover;
}
#arena 
{
    margin: 0 auto;
    margin-top: 50px;
    width:800px;
    height: 520px;
}
h1
{
    font-size: 50px;
}
#game-canvas
{
    border: 20px solid black;
    background-color: deepskyblue;
}
canvas
{
    border: 10px solid black;
}
#toast
{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    width: 600px;
    font: 40px fantasy;
    text-align: center;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    transition: opacity 0.5s;

    opacity: 0;
    display: none;
    z-index: 1;
}
#score
{
    display: Block;
    float: left;
}
#highScore
{
    display: Block;
    float: right;
}
#container
{
    max-width: 680px;
    align-content: center;
}
#title
{
   text-align: center;
}


#sound-and-music {
    position: absolute;
    margin-left: 5px;
    margin-top: 9px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: yellow;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    border: thin solid rgba(0,0,0,0.20);

    display: block;
}

.checkbox-div {
    display: inline;
    text-shadow: 1px 1px 1px blue;
}

#sound-checkbox-div {
    margin-right: 10px;
}
#fps-div
{
    align-content: center;

}
#fps
{

}
#controls
{
    background-color: aqua;
    border: 2px solid black;
    color: red;
}
